doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    script(src='vendor/headjs/dist/1.0.0/head.js')
    script(src='vendor/reveal.js/js/reveal.js')
    script(src='slideshow.js')
    link(rel='stylesheet' href='vendor/reveal.js/css/reveal.css')
    link(rel='stylesheet' href='vendor/reveal.js/css/theme/black.css')
    link(rel='stylesheet' href='vendor/highlightjs/styles/monokai-sublime.css')
    link(rel='stylesheet' href='slideshow.css')
  body
    .reveal
      .slides
        each slide in slides
          section(
            data-markdown=slide
            data-charset='utf-8'
          )
